h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
.p {
  color: #fff;
  margin-bottom: 0px;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.card {
  background: transparent;
}

input:focus-visible {
  outline: none;
}

.custom-input {
  padding: 11px;
  position: relative;
  border: 1px solid #2BFFFF52;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  color: #FFF;
  width: 100%;
}




.outlined-btn {
  background: transparent;
  border: 0px;
  padding: 14.5px 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #Fff;
  position: relative;
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;

}

.outlined-btn:before {
  border: 1.5px solid;
  background: linear-gradient(103.43deg, #84F9A6 4.9%, #0ACCF7 98.65%) border-box;
  border: 1.5px solid transparent;
  border-radius: 10px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.outlined-btn:hover,
.outlined-btn:focus,
.outlined-btn:active {
  /* background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  color: #FFF; */
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  color: #fff;
  transition: all 0.3s ease-out;
}

.filled-btn {
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  padding: 13.5px 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 1.5px solid transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.filled-btn:hover,
.filled-btn:focus,
.filled-btn:active {
  /* background-color: red;
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in; */
  border: 1.5px solid #2bffff96;
  color: #45e2d0;

}

.filled-btn::after {
  transition: all 0.3s ease;
}

.filled-btn:hover::after {
  transition: all 0.3s ease-out;
}

.filled-btn::after {
  content: "";
  background: #000;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.filled-btn::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  transform: scale(0, 0);
}

.filled-btn:hover::after {
  transform: scale(1, 1);
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 18px;
}

.custom-navbar .navbar-nav .show>.nav-link,
.custom-navbar .navbar-nav .active>.nav-link,
.custom-navbar .navbar-nav .nav-link.show,
.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link:hover {
  color: #45e2d0 !important;
}

.section-py {
  padding: 100px 0;
}

.navbar-brand {
  padding: 0px;

}

.custom-menu {

  background-color: #101010;

}

.page-title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  line-height: 56px;
  margin-bottom: 20px;
}

.page_subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;
  color: #D3D3D3;
}

.hero-text-box h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #D3D3D3;
}

.hero-text-box h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.animated-text {
  /* background: linear-gradient(to right, #84f9a6 100%, #0accf7 100%); */
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);

  background-size: 200% auto;
  color: #5d596c;
  background-clip: text;
  line-height: 1.2;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s ease-in-out infinite alternate;
}

.title-section {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.subtitle-section {
  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 30px;
}

.subtitle2-section {
  font-size: 20px;
  font-weight: 500;
  color: #D3D3D3;
  margin-bottom: 20px;

}

.hero-section {
  padding-bottom: 100px;
  background: url("../../../img/front-pages/backgrounds/hero-bg.png");
  background-repeat: no-repeat;
}

/* .getFeaturedOn-section,
.whyUs-section {
  background: rgba(255, 255, 255, 0.05);
} */

.light-bg {
  background: rgba(255, 255, 255, 0.05);
}

.client-logo-wrap {
  /* max-width: 150px; */
  width: 100%;
  padding: 0px 10px;
  overflow: hidden;
}

.client-logo-wrap img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  aspect-ratio: 4 / 1;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-btn {
  width: 38px;
  height: 38px;
  padding: 8px;
  background: transparent;
  color: #58ccaa;
}

.swiper-btn::before {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 7px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.swiper-btn:hover {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  color: #fff;
}


.custom_vr {
  width: 1px;
  /* height: 100%; */
  display: block;
  background: linear-gradient(90.04deg, rgba(132, 249, 166, 0.4) -0.22%, rgba(10, 204, 247, 0.4) 104.74%);
  margin: 0px 24px;

}

.reviews-card {
  padding: 28px;
}

.reviews-card::before {
  border: 1px solid;
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 7px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.reviews-card .logo-wrap {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 7px;
  width: 55px;
  height: 55px;
  border-radius: 40px;
  padding: 7px;
  position: relative;
}

.reviews-card .logo-wrap::before {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 40px;
  bottom: -2px;
  content: "";
  left: -2px;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: -2px;
}

.reviews-card .logo-wrap img {
  width: 100%;
  height: 100%;
}

.reviews-card h5 {
  font-size: 22px;
  font-weight: 600;
}

.reviews-card .text-warning i {
  font-size: 20px;
}

.reviews-card p {
  font-size: 18px;
}

.topFeatured-section .img-wrap {
  max-width: 1400px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.topFeatured-section .img-wrap img {
  width: 100%;
  height: auto;
}

.total-section .totals-card h5 {
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 20px;
}

.total-section .totals-card p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.whyus-card {
  padding: 12px;
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.12) 0%,
      rgba(43, 255, 255, 0.04) 50%,
      rgba(43, 255, 255, 0.07) 100%);
}

.whyus-card::before {
  border: 1px solid;
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.whyus-card .img-wrap {
  position: relative;
  max-width: 429px;
  width: 100%;
  height: 288px;
  overflow: hidden;
  margin-bottom: 20px;
  background: rgbA(255, 255, 255, 0.05);
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
}

/* .whyus-card .img-wrap img {
  height: 100%;
} */

.whyus-card .img-wrap::before {
  border: 1px solid;
  background: linear-gradient(92.07deg,
      rgba(132, 249, 166, 0.3) -0.22%,
      rgba(10, 204, 247, 0.3) 101.16%) border-box;

  border: 2px solid transparent;
  border-radius: 10px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.whyus-card h6 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.whyus-card p li {
  font-size: 18px;
  font-weight: 400;
  color: #D3D3D3;
}

.services-section .data_wrap {
  margin-top: 60px;
}

.services-card {
  padding: 20px 22px;
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.12) 0%,
      rgba(43, 255, 255, 0.04) 50%,
      rgba(43, 255, 255, 0.07) 100%);
  position: relative;
  height: 100%;
  border-radius: 10px;
  transition: all ease-in 0.5s;
}

.services-card::before,
.services-card:hover::before {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.services-card .img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  transition: all ease-in 0.5s;

}

.services-card .img-wrap::before {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.services-card h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}

.services-card i {
  color: #FFF;
  font-size: 30px;
  transform: rotate(45deg);
  transition: all ease-in 0.5s;

}

.services-card:hover {
  background: #FFF;
  transition: all ease-out 0.5s;
}

.services-card:hover .img-wrap {
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
}

.services-card:hover .img-wrap img {
  transition: all ease-out 0.5s;
  filter: brightness(0) invert(1);
}

.services-card:hover h6 {
  color: #000;
}

.services-card:hover i {
  transform: scale(2.2) rotate(0deg);
  color: #45e2d0;
  transition: all ease-out 0.5s;

}

.registered-wrap {
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  padding: 64px 36px 64px 64px;
  border-radius: 40px;
}

.registered-wrap h1 {
  font-size: 46px;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}

.registered-wrap p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 50px;
}

.btn-white {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  background: #FFF;
  padding: 11px 24px;
  border: 0px;
  border-radius: 10px;
}

.btn-dark {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  background: #000;
  padding: 11px 24px;
  border: 0px;
  border-radius: 10px;
}

.registered-wrap .img-wrap {
  max-width: 662px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.registered-wrap .img-wrap img {
  width: 100%;
  height: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}



/* .custom-input::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 7px;
  bottom: -2px;
  content: "";
  left: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 2px;
} */

.whytoreact-wrap p {
  font-size: 20px;
  color: #D3D3D3;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.guest_posting_wrap {
  margin: 40px 0px;
}

.guest_posting_wrap .posting_card {
  max-width: 218px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  /* border-image: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%); */
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  backdrop-filter: blur(84px);
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
}

.guest_posting_wrap .posting_card::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.guest_posting_wrap .posting_card h6 {
  text-align: center;
  margin-bottom: 0px;
  line-height: 28px;
}

.plans_card_wrap .custom_card {
  max-width: 688px;
  width: 100%;
  padding: 40px 30px 30px 30px;
  background-color: rgbA(255, 255, 255, 0.05);
  border-radius: 16px;
  background-image: url('../../img/dots_square.png'), url('../../img/card_ellipse.png');
  background-position: 95% 90%, right top;
  background-repeat: no-repeat;
}



.plans_card_wrap .custom_card h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 60px;
}

.plans_card_wrap .custom_card:hover {
  transition: linear 0.3s;
  background-image: url('../../img/dots_square.png'), linear-gradient(92.07deg, rgba(132, 249, 166, 0.2) -0.22%, rgba(10, 204, 247, 0.2) 101.16%);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  position: relative;
}

.plans_card_wrap .custom_card:hover::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.pricing_plan_card {
  max-width: 446px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0px auto;
  position: relative;
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  backdrop-filter: blur(84px);
}

.pricing_plan_card::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.pricing_plan_card .upper_wrap {
  padding: 20px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(91.16deg, rgba(132, 249, 166, 0.2) -0.03%, rgba(10, 204, 247, 0.2) 12.53%);
  border-image-slice: 1;
}

.pricing_plan_card .upper_wrap p {
  font-family: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.pricing_plan_card .upper_wrap h3 {
  font-size: 34px;
  font-weight: 700;
}

.pricing_plan_card .bottom_wrap {
  padding: 20px;
}

.pricing_plan_card ul li {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}

.pricing_plan_card ul li i {
  font-size: 20px;
}

.pricing_plan_card.colored_card {
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
}

.pricing_plan_card.colored_card .upper_wrap p,
.pricing_plan_card.colored_card .upper_wrap h3 {
  color: #000;
}

.pricing_plan_card.colored_card ul li {
  color: #000;
}

.pricing_plan_card.colored_card .upper_wrap {
  border-bottom: 1px solid rgb(0, 0, 0, 0.84);
  border-image-source: unset;
  border-image-slice: unset;
}

.custom_radio_buttons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 30px;
}

.custom_radio_buttons label {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  /* padding-top: 50px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 220px;
  width: 100%;
  padding: 45px 0px 24px;
}

/* Hide the browser's default radio button */
.custom_radio_buttons label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1.5px solid #2bffff96;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.custom_radio_buttons label:hover input~.checkmark {
  background-color: transparent;
  border: 1.5px solid #2bffff96;
}

/* When the radio button is checked, add a blue background */
.custom_radio_buttons label input:checked~.checkmark {
  background-color: transparent;
  border: 1.5px solid #2bffff96;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom_radio_buttons .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom_radio_buttons label input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom_radio_buttons label .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17.14px;
  height: 17.14px;
  border-radius: 50%;
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
}

.transform_strategy_section .data_wrap {
  margin-top: 60px;
}

.transform_strategy_section .data_wrap .data_card {
  max-width: 264px;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  position: relative;
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  backdrop-filter: blur(84px);
  border-radius: 10px;
}

.transform_strategy_section .data_wrap .data_card .icon_wrap {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-bottom: 22px;
  position: relative;
  border-radius: 13px;
  background: rgbA(255, 255, 255, 0.05);
}

.transform_strategy_section .data_wrap .data_card::before,
.transform_strategy_section .data_wrap .data_card .icon_wrap::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}



.transform_strategy_section .data_wrap .data_card h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0px;
}

.linkedfarmer_different_section .strait_timeline {
  margin-top: 60px;
}

.strait_timeline .timeline_item {
  display: flex;
  align-items: center;
}

.strait_timeline .timeline_item:not(:last-child) {
  margin-bottom: 20px;
}

.strait_timeline .timeline_item .left_wrap {
  width: 25%;
  position: relative;
}

.strait_timeline .timeline_item .left_wrap:before {
  content: '';
  background: url('../../img/timeline-dot.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  right: -9%;
  top: 50%;
}

.strait_timeline .timeline_item .left_wrap h5 {
  display: inline-block;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0px;
}

.strait_timeline .timeline_item .left_wrap span {
  border: none;
  border-top: 2px dashed #777777;
  height: 1px;
  width: 100%;
}

.strait_timeline .timeline_item .right_wrap {
  width: 75%;
  background: rgba(255, 255, 255, 0.051);
  padding: 20px;
  padding-left: 40px;
  border-radius: 20px;
}

.strait_timeline .timeline_item .right_wrap ul li {
  margin-bottom: 20px;
}

.strait_timeline .timeline_item .right_wrap ul li p {
  font-size: 18px;
  font-weight: 500;
  color: #D3D3D3;
  margin-bottom: 0px;
}

.linear_bg_section .linear_bg_wrap {
  border-radius: 40px;
  padding: 100px 200px;
  background-image: url('../../img/white-dots.png'), url('../../img/vertical-white-dots.png'), linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%);
  background-position: 95% 90%, 5% 10%;
  background-repeat: no-repeat;
}

.linear_bg_section .linear_bg_wrap .text_wrap {
  margin-bottom: 40px;

}

.linear_bg_section .linear_bg_wrap .text_wrap h2 {
  font-size: 46px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.linear_bg_section .linear_bg_wrap .text_wrap p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.linkedfarmer_different_section .custom_timeline {
  margin-top: 60px;
}

.custom_timeline .timeline-item .timeline-point {
  top: 50%;
  transform: translate(-0%, -50%);
}

.custom_timeline .timeline-item {
  display: flex;
  align-items: center;
  padding-left: unset;
  padding-bottom: 20px;
  /* position: relative; */
  border-left: 2px solid #D3D3D3;
}

.custom_timeline .timeline-item .left_wrap {
  width: 8%;
  position: relative;
}

.custom_timeline .timeline-item .left_wrap span {
  display: block;
  border-top: 2px dashed #777777;
  height: 1px;
  width: 100%;
}

.custom_timeline .timeline-item .right_wrap {
  width: 92%;
  background: rgba(255, 255, 255, 0.051);
  padding: 20px;
  border-radius: 20px;
}

.custom_timeline .timeline-item .left_wrap:before {
  content: '';
  background: url('../../img/timeline-dot.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0%;
  top: 50%;
}

.custom_timeline .timeline-item .right_wrap h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom_timeline .timeline-item .right_wrap p {
  font-size: 18px;
  line-height: 28px;
  color: #D3D3D3;
}

.guest_posting_section .data_wrap {
  margin-top: 60px;
}

.guest_posting_section .data_wrap .data_card {
  max-width: 453px;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  position: relative;
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  backdrop-filter: blur(84px);
  border-radius: 10px;
  margin: 0px auto;
}

.guest_posting_section .data_wrap .data_card .icon_wrap {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-bottom: 22px;
  position: relative;
  border-radius: 13px;
  background: rgbA(255, 255, 255, 0.05);
}

.guest_posting_section .data_wrap .data_card::before,
.guest_posting_section .data_wrap .data_card .icon_wrap::before {
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.32) 0%, rgba(43, 255, 255, 0.1) 50%, rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}



.guest_posting_section .data_wrap .data_card h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.guest_posting_section .data_wrap .data_card p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #D3D3D3
}

.faq_section .custom-accordian {
  margin-top: 60px;
}

.custom-accordian .accordion-item {
  background: #101010;
  /* background: grey !important; */
  border: 0px;
  margin-bottom: 20px;
  border-radius: 20px !important;

}

.custom-accordian .accordion-button {
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #FFF;
  background: #101010;
  /* background: grey !important; */
  box-shadow: unset;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.custom-accordian .accordion-item .accordion-button,
.custom-accordian .accordion-item .accordion-button.collapsed {
  border-radius: 20px !important;
}

.custom-accordian .accordion-button::after {
  width: 34px;
  height: 34px;
  background-image: url('../../img/plus-icon.png');
  background-size: auto;
}

.custom-accordian .accordion-button:not(.collapsed)::after {
  background-image: url('../../img/minus-icon.png');
  transform: rotate(0deg);
}

.custom-accordian .accordion-body {
  /* color: #FFF; */
  padding: 0px 20px 20px;
}

.custom-accordian .accordion-body p {
  font-size: 18px;
  color: #D3D3D3;
}

.agency_section .data_wrap .data_card {
  height: 100%;
  padding: 20px;
  background: linear-gradient(180deg, rgba(43, 255, 255, 0.12) 0%, rgba(43, 255, 255, 0.04) 50%, rgba(43, 255, 255, 0.07) 100%);
  position: relative;
  border-radius: 10px;
  backdrop-filter: blur(84px);

}

.agency_section .data_wrap .data_card::before {
  background: linear-gradient(180deg,
      rgba(43, 255, 255, 0.32) 0%,
      rgba(43, 255, 255, 0.1) 50%,
      rgba(43, 255, 255, 0.16) 100%) border-box;
  border: 1px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.agency_section .data_wrap .data_card h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 10px;
}

.agency_section .data_wrap .data_card p {
  font-size: 18px;
  line-height: 28px;
  color: #D3D3D3;
}

.transform_strategy_section .grid_wrap .data_card {
  max-width: unset;
}

/* custom css over */


footer .footer-list h5 {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 26px;
}

footer .footer-list li {
  margin-bottom: 8px;
  list-style-type: none;
}

footer .footer-list li:last-child {
  margin-bottom: 0px;
}

footer .footer-list li a {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

footer .footer-list li a:hover {
  color: #FFF;
}

footer .social-links-wrap li a:hover {
  background: linear-gradient(92.07deg, #84F9A6 -0.22%, #0ACCF7 101.16%) border-box;
  transition: all ease-in-out 0.40s;
  transform: rotateY(360deg);
}

footer .footer-list li .icon-div {
  display: flex;
  align-items: flex-start;
  color: #fff;
}

footer .footer-list li .icon-div svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 15px;
}

footer .footer-list li .icon-div-wrap {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 90px;
  background: transparent;
  display: grid;
  place-content: center;
  margin-right: 11px;
}

footer .footer-list li .icon-div-wrap:last-child {
  margin-right: 0px;
}

footer .footer-list li .icon-div-wrap svg {
  font-size: 24px;
  color: #fff;
}


/* custom css over */

@media (max-width: 1199.98px) {
  .section-py {
    padding: 5rem 0;
  }

  .linear_bg_section .linear_bg_wrap {
    padding: 80px 100px;
  }

  .linear_bg_section .linear_bg_wrap .text_wrap h2 {
    font-size: 30px;
  }

  .linear_bg_section .linear_bg_wrap .text_wrap p {
    font-size: 15px;

  }
}

@media (max-width: 767.98px) {
  .section-py {
    padding: 3rem 0;
  }

  .landing-hero {
    padding-top: 210px;
  }

  .page-title {
    font-size: 38px;
    line-height: 55px;
  }

  .subtitle-section {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .subtitle2-section {
    font-size: 18px;
  }

  .linear_bg_section .linear_bg_wrap {
    padding: 40px 30px;
    /* background-size: 20%, 20%, 100%; */
  }

  .linear_bg_section .linear_bg_wrap .text_wrap {
    margin-bottom: 15px;
  }

  .whytoreact-wrap p {
    font-size: 15px;
  }
}

.landing-hero {
  border-radius: 0 0 3.5rem 3.5rem;
  padding-top: 240px;
}

.landing-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 992px) {
  .landing-hero .hero-text-box {
    /* max-width: 905px;
    margin: 0 auto; */
    margin-bottom: 100px;
  }

}

.landing-hero .hero-title {
  background: linear-gradient(to right, #28c76f 0%, #84f9a6 47.92%, #0accf7 100%);
  background-size: 200% auto;
  color: #5d596c;
  background-clip: text;
  line-height: 1.2;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s ease-in-out infinite alternate;
}

.landing-hero .hero-sub-title {
  line-height: 28px;
}

.landing-hero .landing-hero-btn .hero-btn-item {
  inset-inline-start: -86%;
  top: 80%;
}

.landing-hero .hero-animation-img {
  margin-bottom: -32rem;
}

@media (max-width: 1199.98px) {
  .landing-hero .hero-animation-img {
    margin-bottom: -20rem;
  }

  .transform_strategy_section .data_wrap .data_card {
    /* max-width: 180px; */
    padding: 15px;
  }

  .transform_strategy_section .data_wrap .data_card .icon_wrap {
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .hero-section {
    padding-bottom: 50px;
  }

  .landing-hero {
    padding-top: 125px;
  }

  .navbar.landing-navbar {
    margin-top: 15px;
  }

  .landing-hero .hero-animation-img {
    margin-bottom: -10rem;
  }
}

.landing-hero .hero-animation-img .hero-dashboard-img {
  width: 80%;
  margin: 0 auto;
  will-change: transform;
  transform-style: preserve-3d;
  transition: all 0.1s;
}

.landing-hero .hero-animation-img .hero-dashboard-img img {
  width: 100%;
}

.landing-hero-blank {
  padding-top: 26rem;
}

@media (max-width: 1199.98px) {
  .landing-hero-blank {
    padding-top: 15rem;
  }
}

@media (max-width: 575.98px) {
  .landing-hero-blank {
    padding-top: 7rem;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }

  80% {
    background-position: 50% 90%;
  }

  100% {
    background-position: 91% 100%;
  }
}

.landing-features .features-icon-wrapper .features-icon-box .features-icon-description {
  max-width: 19.25rem;
  margin: 0 auto;
}

.landing-reviews {
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
}

.landing-reviews .landing-reviews-btns .reviews-btn {
  padding: 0.45rem;
}

.landing-reviews .swiper-reviews-carousel .swiper-button-prev,
.landing-reviews .swiper-reviews-carousel .swiper-button-next {
  display: none;
}

.landing-reviews .swiper-reviews-carousel .swiper-slide {
  height: auto;
}

.landing-reviews .swiper-reviews-carousel .client-logo {
  height: 1.375rem;
  object-fit: contain;
}

.landing-reviews .swiper-logo-carousel .swiper {
  max-width: 45rem;
}

.landing-reviews .swiper-logo-carousel .swiper .swiper-slide {
  display: flex;
  justify-content: center;
}

.landing-reviews .swiper-logo-carousel .swiper .client-logo {
  max-height: 2.5rem;
  max-width: 95%;
  object-fit: contain;
}

.landing-team .card,
.landing-team .card .team-image-box {
  border-top-left-radius: 5.625rem;
  border-top-right-radius: 1.25rem;
}

.landing-team .card .card-body {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.landing-team .team-image-box {
  height: 11.5625rem;
}

.landing-team .team-image-box .card-img-position {
  height: 15rem;
  transform: translateX(-50%);
}

@media (max-width: 991.98px) {
  .landing-team .team-image-box .card-img-position {
    height: 13rem;
  }
}

@media (max-width: 575.98px) {
  .landing-team .team-image-box {
    height: 11rem;
  }
}

.landing-team .card .team-media-icons i {
  transition: all 0.2s ease-in-out;
}

.landing-pricing {
  border-radius: 3.75rem;
}

.landing-pricing .pricing-plans-item {
  inset-inline-end: -60%;
  bottom: 0;
}

@media (max-width: 767.98px) {
  .landing-pricing .pricing-plans-item {
    inset-inline-end: 0;
    bottom: 1rem;
  }
}

.landing-pricing .price-yearly-toggle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.landing-pricing .card .card-header,
.landing-pricing .card .card-body {
  padding: 2rem;
}

.landing-faq {
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
}

.landing-faq .faq-image {
  max-width: 20rem;
  width: 80%;
}

.landing-cta {
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-contact .text-heading {
  overflow-wrap: anywhere;
}

.landing-contact .contact-img-box,
.landing-contact .contact-img-box .contact-img {
  border-radius: 3.75rem 0.375rem 0.375rem 0.375rem;
}

.landing-contact .contact-img-box::before {
  content: url("../../../img/front-pages/icons/contact-border.png");
  position: absolute;
  inset-block-start: -2.5rem;
  inset-inline-start: -2.8125rem;
}

@media (max-width: 767.98px) {
  .landing-contact .contact-img-box::before {
    display: none;
  }
}

.light-style .landing-hero {
  /* background: linear-gradient(138.18deg, #eae8fd 0%, #fce5e6 94.44%); */
  background: url("../../../img/front-pages/backgrounds/hero-bg.png");
}

.light-style .landing-hero::after {
  background-color: #fff;
}

.light-style .landing-cta {
  background-image: url("../../../img/front-pages/backgrounds/cta-bg.png");
}

.guest_wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .dark-style .landing-hero::after {
  background-color: #2f3349;
}

.dark-style .landing-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url("../../../img/front-pages/backgrounds/hero-bg-dark.png") center no-repeat;
  background-size: contain;
} */

.dark-style .landing-cta {
  background-image: url("../../../img/front-pages/backgrounds/cta-bg-dark.png");
}

[dir="rtl"] .landing-team .team-image-box .card-img-position {
  transform: translateX(50%) !important;
}

[dir="rtl"] .landing-pricing .switch .switch-label {
  padding-right: 0;
}

[dir="rtl"] .landing-pricing .switch .switch-label:first-child {
  padding-left: 0.5rem;
}

[dir="rtl"] .landing-pricing .switch .switch-input~.switch-label {
  padding-right: 3rem;
}

[dir="rtl"] .landing-contact .contact-img-box {
  border-radius: 0.375rem 3.75rem 0.375rem 0.375rem;
}

[dir="rtl"] .landing-contact .contact-img-box::before {
  inset-block-start: -1.875rem;
  inset-inline-start: -3.125rem;
  transform: rotate(90deg);
}


